extends ./layout/index

block contenido 
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen-agencia-de-viajes", class ="img-fluid")
            .col-md-7.text-justify 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis sapien nec nibh sodales accumsan ut nec ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris pharetra tincidunt nulla ac egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam vitae tincidunt lectus. Morbi fringilla erat nec lorem cursus condimentum. In sed massa non sem pretium consectetur ut id sem. Nunc ultrices ante orci, nec luctus tellus tristique eu.

                p faucibus purus varius lectus imperdiet, et vestibulum arcu vestibulum. Duis mi elit, tempus in egestas at, tincidunt vitae diam. Aenean id turpis tortor. Pellentesque ac tellus convallis, posuere orci ut, ornare augue. Vestibulum ultrices massa a nulla vulputate iaculis. Sed id ullamcorper nibh. Mauris ullamcorper libero ut fringilla consectetur. Donec vel maximus nisl. Donec congue leo id molestie gravida.

                p volutpat varius lorem id tempor. Curabitur convallis hendrerit erat, et luctus nisl cursus nec. Duis elementum nunc bibendum orci faucibus dapibus. Integer imperdiet rhoncus finibus. Donec in sapien vitae diam sagittis lobortis ut at eros. Vestibulum sit amet laoreet nibh. Curabitur ultrices est in nisi congue, malesuada fringilla urna dictum. Cras nec mattis ex. Cras rhoncus tempus malesuada.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p volutpat varius lorem id tempor. Curabitur convallis hendrerit erat
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Destinos Increibles 
                    p volutpat varius lorem id tempor. Curabitur convallis hendrerit erat
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios  
                    p volutpat varius lorem id tempor. Curabitur convallis hendrerit erat